
body{
	font-family: "Lucida Grande", Lucida;
	font-size: 12px;
	color: #993300;
	text-shadow: #F5EED9 1px 1px 0px;
	background-image: url('/images/background.jpg');
	line-height: 1.5em;
}

a{
	color: #993300;
	text-decoration: none;
	font-family: "HelveticaNeue-Bold","Helvetica",Arial;
	text-shadow: #F5EED9 1px 1px 0px;
}

a:hover{
	text-decoration: none;
	border-bottom: 1px solid #993300;
}


div#header{
	text-align: center;
	margin-bottom: -80px;
}

div#header h1{
	font-family: "HelveticaNeue-Light","Helvetica",Arial;
	font-weight: normal;
	font-size: 50px;
	margin-bottom: 0px;
}

div#content{
	padding-top:240px;
	padding-bottom: 20px;	
}

.pinged div#content,
.logged div#content{background: url('/images/mugon.png') no-repeat center top;}
.home div#content,
.error div#content{background: url('/images/mugoff.png') no-repeat center top;}

div#content-inner{
	width: 500px;
	margin-left: auto;
	margin-right: auto;
	padding: 20px;
	text-align: center;
	background: url('/images/transparant.png');
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
}

div#content-inner p{
	text-align: left;
}

div#footer{
	text-align: center;
}


div#action_area{
	padding: 10px;
	background: url('/images/transparant.png');
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border: 1px solid #F5EED9;
	border-bottom: 3px solid #F5EED9;
	padding-bottom: 150px;
}

div#action_area #left{
	width: 50%;
	float: left;
}

div#action_area #right{
	width: 50%;
	float: right;
}

div#action_area div p{
	text-align: center;
}

div#action_area div p a {
	color: #FFF;
	padding: 10px;
	padding-left: 50px;
	width: 120px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	border-bottom: none;
}

div#action_area div p a span{
	margin-right: 20px;
	font-size: 17px;
	text-shadow: #000 1px 1px 2px;
	letter-spacing: -1px;
}

div#action_area div p a:hover span{
	font-size: 18px;
}

div#action_area div p a.bonjour {
	background: url('/images/bonjour.png');
}

div#action_area div p a.bonne-nuit {
	background: url('/images/bonne-nuit.png');
}

div#content-footer p{
	text-align: center;
}



div#newsletter{
	margin-top: 20px;
	padding: 10px;
	background: url('/images/transparant.png');
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border: 1px solid #F5EED9;
	border-bottom: 3px solid #F5EED9;
}

div#newsletter p{
	font-size: 11px;	
}


a.h1{
	font-family: "HelveticaNeue-Light","Helvetica",Arial;
	font-weight: normal;
}

a.h1:hover{
	font-family: "HelveticaNeue-Light","Helvetica",Arial;
	font-weight: normal;
	border-bottom: none;
	text-shadow: #fff 1px 1px 2px;
}

div#sang{
	background-image: url('/images/sang.png');
}